#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUMBERS 1
#define SYMBOLS 2
#define SETTING 3

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        //zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_Escape {
            timeout-ms = <50>;
            key-positions = <1 2 3>;
            bindings = <&kp ESC>;
                     };
        
        combo_Settings {
            timeout-ms = <50>;
            key-positions = <13 14 15 16>;
            bindings = <&tog 3>;
                       };
           };
    };

&mt {
    tapping-term-ms = <200>;
};

/{
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";

            // -----------------------------------------------------------------------------------------
            // |  DEL|  Q  |W(UP)|  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | SUP |
            // | CTRL|A(LT)|S(DN)|D(RT)|  F  |G (C)|   |H (F)|  J  |  K  |  L  |  ;  |' (§)|
            // |LSHFT|  Z  |  X  |  C  |  V  |B (V)|   |N (S)|  M  |  ,  |  .  |  /  |RSHFT|
            //                   |NUM1 | SPC |BPSC |   | TAB | ENT | SYM |
            //                           ESC  LCMD       RALT RCTRL
            
            bindings = <
  &kp DEL     &kp Q       &mt UP W    &kp E        &kp R  &kp T            &kp Y            &kp U  &kp I      &kp O    &kp P     &kp RA(RS(RCTRL))
  &kp CAPS    &mt LEFT A  &mt DOWN S  &mt RIGHT D  &kp F  &mt LG(C) G      &mt LG(F) H      &kp J  &kp K      &kp L    &kp SEMI  &mt RA(6) SQT
  &kp LSHIFT  &kp Z       &kp X       &kp C        &kp V  &mt LG(V) B      &mt RA(RC(S)) N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHIFT
                                 &tog 1  &mt ESC SPACE  &mt LCMD BSPC      &mt RALT TAB  &mt RCTRL ENTER     &tog 2
            >;
        };

        numbers_layer {
            label = "NUMBERS";

            // -----------------------------------------------------------------------------------------
            // |  =  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |  -  |
            // |     |     |     |  UP |     |     |   |  =  |  4  |  5  |  6  |  *  |  +  |
            // |LSHFT|     |LEFT |DOWN |RIGHT|     |   |     |  1  |  2  |  3  |  /  |RSHFT|
            //                   |     | DEF | DEF |   |     |     |  0  |

            bindings = <
&kp EQUAL  &kp N1   &kp N2    &kp N3    &kp N4     &kp N5      &kp N6     &kp N7  &kp N8  &kp N9  &kp N0     &kp MINUS
&none      &none    &none     &kp UP    &none      &none       &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp STAR   &kp PLUS
&kp LSHFT  &none    &kp LEFT  &kp DOWN  &kp RIGHT  &none       &none      &kp N1  &kp N2  &kp N3  &kp SLASH  &kp RSHFT
                                   &tog 1  &tog 0  &tog 0      &none  &none  &kp N0
            >;
        };

        symbols_layer {
            label = "SYMBOLS";

            // -----------------------------------------------------------------------------------------
            // |     |     |     |  (  |  )  |     |   |     |     |     |     |     |     |
            // |VOLUP|VMUTE|     |  [  |  ]  |     |   |     |     |     |     |     |     |
            // |VOLDN| P_P |     |  {  |  }  |     |   |     |     |     |     |     |     |
            //                   | DEF | DEF | DEF |   | SYM | SYM | SYM |

            bindings = <
&none         &none       &none  &kp LBRC  &kp RBRC  &none      &none  &none  &none  &none  &none  &none
&kp C_VOL_UP  &kp C_MUTE  &none  &kp LPAR  &kp RPAR  &none      &none  &none  &none  &none  &none  &none
&kp C_VOL_DN  &kp C_PP    &none  &kp LBKT  &kp RBKT  &none      &none  &none  &none  &none  &none  &none
                                    &tog 0  &tog 0  &tog 0      &tog 2  &tog 2  &tog 2
            >;
        };

        setting_layer {
            label = "SETTING";
            
            // -----------------------------------------------------------------------------------------
            // | DEF | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |     |
            // | DEF | SET | SET | SET | SET | SET |   |     |     |     |     |     |     |
            // | DEF |     |     |     |     |     |   |     |     |     |     |     |     |
            //                   |BTCLR|BTCLR|BTCLR|   | SET | SET | SET |
            
            bindings = <
&tog 0  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &none  &none  &none  &none  &none  &none
&tog 0  &tog 3        &tog 3        &tog 3        &tog 3        &tog 3            &none  &none  &none  &none  &none  &none
&tog 0  &none         &none         &none         &none         &none             &none  &none  &none  &none  &none  &none
                                      &bt BT_CLR    &bt BT_CLR    &bt BT_CLR      &tog 3  &tog 3  &tog 3
            >;
        };
    };
};
